

.button1{
    background-color: rgb(0, 255, 0);
}

/* .heading{
        color: rgb(255, 0, 0);
} */

#box{
    background-color: rgb(69, 226, 90);
    text-decoration: underline red wavy blink;
}

h1,h2,h3{
    font-family: Calibri, sans-serif;
    color:#06355e;
}

#div2{
    height: 350px;
    width: 120px;
    background-color: rgb(14, 14, 14);
    

}

#internal1{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    margin: 10px 2px 10px 10px;
}

#internal2{
    height: 100px;
    width: 100px;
    background-color: #1303f6;
    border-radius: 50%;
    margin: 10px 2px 10px 10px;
}

#internal3{
    height: 100px;
    width: 100px;
    background-color: rgb(0, 255, 0);
    border-radius: 50%;
    margin: 10px 2px 10px 10px;
}


*{
    margin: 10;
    padding: 10;
    color:white
}

#amazon{
    background-color: #0f1111;
    height:60px;
}
button{
    background-color: #f08804;
} 

#logo{
    color: #f08804;
    font-size: 25px;
}

a{
    text-decoration: none;
    margin-right:200px;
}

#content{
    height:680px;
}


#contentbox{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

footer{
    background-color: #0f1111;
    text-align: center;
    color: white;
}

 /* #content1{
    
    
    height: 500px;
    width: 300px;
     background-image: url('pexels-brunxs-38243203.jpg'); 
     background-size: cover;
    background-repeat: no-repeat; 
     color:black; 
     position: fixed;
    right: 0px;
    top: 500px;
}   */


/* body{
    text-align: center;
} */

#sheet{
    background-color: #dc1c1c;
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 2px dotted black;
    flex-wrap: wrap;
    align-items: center;
    
}

li{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    list-style: none;
    background-color: #06f87b;
   
}


@media(max-width:300px){
    div{
        background-color: green;
    }
}

@media(max-width:300px) and (max-width:400px){
    div{
        background-color: #fc01eb;
    }
}

@media(max-width:400px) and (max-width:600px){
    div{
        background-color: #fc0101;
    }
}

@media(max-width:600px){
    div{
        background-color: #0901fc;
    }
}

div:hover{
    background-color: #fc0101;
}

 div:active{       /*active means when you click on the div */
    background-color: #fc01eb;
}



#loader{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    
}